<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Users</h1>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users List </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>course name</th>
                        <th>term</th>
                        <th>year</th>
                        <th>proffesors</th>
                        

                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>course name</th>
                        <th>term</th>
                        <th>year</th>
                        <th>proffesors</th>
                        

                        <th>Actions</th>
                        
                    </tr>
                </tfoot>
                <tbody>

                    <tr *ngFor="let u of courses;let j = index">
                        <td>{{j}}</td>
                        <td>{{u.coursename}}</td>
                        <td>{{u.term}}</td>
                        <td>{{u.year}}</td>
                        <!--<td><div id="champs" *ngIf="u.hasOwnProperty('outcome') ">
                                <a [href]="u.outcome" download >Preview</a>
                            </div>
                            
                        </td>-->
                        <td>
                         
                                <thead>
                                    <tr>
                                        
                                        <th>email</th>
                                        <th>artifact</th>
                                        
                
                                        <th>outcome</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        
                                        <th>email</th>
                                        <th>artifact</th>

                
                                        <th>outcome</th>
                                        
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let p of u.proffesors">
                                        <td>{{p.profferssorEmail}}</td>
                                        <td><div id="champs" *ngIf="p.hasOwnProperty('artifact') ">
                                            <a [href]="p.artifact" download >Preview</a>
                                        </div>  </td>
                                        <td><div id="champs" *ngIf="p.hasOwnProperty('outcome') ">
                                            <a [href]="p.outcome" download >Preview</a>
                                        </div>  </td>
                                    </tr>
                                       
                            
                            
                        </td>
                        <td>{{u.year}}</td>
                        

                        <td>
                            
                            <button class="btn btn-primary btn-sm mx-2" >
                                <i class="fas fa-fw fa-edit"></i>
                            </button>

                            <a  class="text-danger"> <i class="fas fa-trash"></i> </a>


                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>